html, body {
	height: 100%;
	cursor: default;
	overflow-y: hidden;
	background:url(../images/per_login_bg_m.jpg) no-repeat center;
	background-color: #86d5f4;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
.login-box-body {
    background-color: rgba(255,255,255,0.8);
}
.login-logo, .register-logo {
    font-size: 25px;
}
@media only screen and (min-width: 425px) {
	.login-box, .register-box {
		width: 360px;
	}
}
@media only screen and (min-width: 768px) {
	.login-logo, .register-logo {
		font-size: 30px;
	}
	html, body {
		background:url(../images/per_login_bg.jpg) no-repeat bottom;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}
@media only screen and (min-width: 992px) {
	.login-logo, .register-logo {
		font-size: 35px;
	}
}